/* ========================================================== BODY =================================================================== */

/* ========================================================== FONT =================================================================== */
/* FONT */
@import url('https://fonts.googleapis.com/css?family=Trade+Winds:400');
@import url('https://fonts.googleapis.com/css?family=Pirata+One:400');

html {font-size: 100%;} /*16px*/

.welcome {
  /* background: white; */
  font-family: 'Trade Winds', sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #c9c5c5 !important;
}

body {
  /* background: white; */
  font-family: 'Pirata One', sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #363434;
}

p {margin-bottom: 1rem;}

h1 {
  margin: 3rem 0 1.38rem;
  font-family: 'Trade Winds', sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-family: 'Pirata One', sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

/* ========================================================== IMG ==================================================================== */
/* IMG HELP */
.img_help {
    opacity: 40%;
    width: 100%;
    max-width: 30px;
    height: auto;
}

.mascot {
  width: 100%;
  max-width: 90px;
  height: auto;
  padding: 2px;
}

/* ========================================================== FOOTER ================================================================= */
/* FOOTER */
.footer {
    text-align: right;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    opacity: 40%;
}

/* ========================================================== BODY END =============================================================== */